@page "/qi"
@using Burndown.Models
@using Burndown.Services

@inject FireflyQueryService FireflyQueryService
@inject IncomeService IncomeService

<PageTitle>Quick income</PageTitle>

<h1 class="page-title">Quick income</h1>

<div class="form-container">
    <RadzenDropDown @bind-Value="_selectedAccount"
                    class="input-control"
                    FilterDelay="100"
                    Data="_accounts"
                    TextProperty="@nameof(Account.Name)"
                    ValueProperty="@nameof(Account.Id)"
                    Placeholder="Target Account"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    FilterOperator="StringFilterOperator.Contains"
                    AllowFiltering="true"
                    AllowClear="true"/>
    <RadzenDatePicker class="input-control"
                      @bind-Value="_selectedDate"
                      DateFormat="yyyy-MM-dd HH:mm"
                      Min="DateTime.Today.AddMonths(-2)"
                      Max="DateTime.Today.AddDays(1)"/>
    <RadzenAutoComplete class="input-control"
                        @bind-Value="_description"
                        Data="_transactionNames"
                        LoadData="LoadTransactionNames"
                        FilterDelay="100"
                        TextProperty="Name"
                        Placeholder="Description"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"/>
    <RadzenNumeric @bind-Value="_amount" Placeholder="Amount in euro" Format="0.00" class="input-control"/>
    <RadzenButton Text="Submit" Click="OnSubmit" Disabled="@IsSubmitDisabled" class="input-control"/>
    @if (_submittedIncome != null) {
        <div class="success-message">Transfer '@_submittedIncome.Description' submitted successfully!</div>
    }
    @if (_error != null) {
        <div class="error-message">An error occurred: @_error</div>
    }
</div>

@code {
    private List<Account> _accounts = new();
    private string? _selectedAccount;
    private DateTime _selectedDate = DateTime.Now;
    private string? _description;
    private decimal _amount;
    private Models.QuickIncome? _submittedIncome;
    private string? _error;
    private List<string> _transactionNames = new();

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        _submittedIncome = null;
        _accounts = (await FireflyQueryService.GetAccounts())
            .OrderBy(a => a.Name)
            .ToList();
    }

    private async Task OnSubmit() {
        _submittedIncome = new Models.QuickIncome {
            Account = _selectedAccount!,
            Date = _selectedDate,
            Description = _description!,
            Amount = _amount
        };
        try {
            await IncomeService.AddQuickIncome(_submittedIncome);
            _selectedDate = _selectedDate.AddMinutes(1);
            _error = null;
        }
        catch (Exception e) {
            _submittedIncome = null;
            _error = e.Message;
            return;
        }
        _description = string.Empty;
        _amount = 0;
    }

    private async Task LoadTransactionNames(LoadDataArgs args) {
        _transactionNames = (await FireflyQueryService.GetTransactionNames(args.Filter)).ToList();
    }

    private bool IsSubmitDisabled => string.IsNullOrEmpty(_selectedAccount) ||
                                     string.IsNullOrEmpty(_description) ||
                                     _amount <= 0;

}